<div class="container-flued">
    <div class="topDiv">
        <div class="topDiv1">

            <div class="mt-5">
                <div class="my-5">
                    <h1>Sonic Fast </h1>
                    <h2>Linux & BSD Hosting</h2>
                    <p>We’re the fastest hosting provider around.</p>
                </div>

                <div class="margn">
                    <button class="btnn">Get Started</button>
                    <div class="mt-3">
                        <input class="checkbox" type="checkbox"> &nbsp;
                        7-day money-back guarantee
                    </div>

                </div>
            </div>

            <div><img src="assets/img/home1.png" style="width:100%" alt=""></div>

        </div>
    </div>

    <section>
        <div class="container">

            <div class="poweredBy">
                <span class="mr2">Powered by</span>
                <img class="mr" height="40" src="assets/img/vultr.png" alt="">
                <img class="mr" height="40" src="assets/img/digitalOcean.png" alt="">
                <img class="mr" height="40" src="assets/img/linode.png" alt="">
                <img class="mr" height="40" src="assets/img/heroku.png" alt="">

            </div>

            <!-- <div class="d-flex justify-content-center m-5" style="flex-wrap: wrap;">

                <div class="my-4 m-2">
                    <div class="d-flex">
                        <img class="" src="assets/img/star1.png" alt="">
                        <div class="text1">Trustpilot</div>
                    </div>

                    <img class="star" src="assets/img/star.png" alt="">
                    <img class="star" src="assets/img/star.png" alt="">
                    <img class="star" src="assets/img/star.png" alt="">
                    <img class="star" src="assets/img/star.png" alt="">
                    <img class="star2" src="assets/img/star.png" alt="">

                    <div>TrustScore 4.6 | 1169 reviews</div>
                </div>



                <div class="my-4 m-2">
                    <div>
                        <div class="text1">Google</div>
                    </div>

                    <img class="" src="assets/img/star1.png" alt="">
                    <img class="m-1" src="assets/img/star1.png" alt="">
                    <img class="m-1" src="assets/img/star1.png" alt="">
                    <img class="m-1" src="assets/img/star1.png" alt="">
                    <img class="m-1" src="assets/img/star1.png" alt="">

                    <div class="mt-2">Rating 4.8/5 | 976 reviews</div>
                </div>

            </div> -->

            <div class="bestPlan  mt-4">
                <div class="col-md-6 plan">
                    <div>
                        <h3>Get the best plan</h3>
                    </div>
                    <ul class="">
                        <li>Manage up to 100 websites.</li>
                        <li>Set up a professional business email address.</li>
                        <li>Optimize your workflow with managed hosting.</li>
                        <li>Launch websites quickly with our Website Builder.</li>
                        <li>Child name server & full control on DNS</li>
                    </ul>

                </div>

                <div class="col-md-6">
                    <img style="width: 100%;" src="assets/img/img2.png" alt="">
                </div>
            </div>
        </div>


    </section>

    <div class="topDiv">

        <div class="text-center p-3">
            <h2 class="">Get the best plan</h2>
            <p>The best Indian web hosting service with the most complete hosting features <br> and 24-hour support for
                your convenience to achieve online success.</p>
        </div>

        <div class="d-flex justify-content-center">
            <h6 class="m-2">Monthly</h6>
            <!-- <div class="form-check form-switch m-2">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
            </div> -->
            <div class="m2">
                <!-- <img *ngIf="toogle == 1" (click)="toogleClick(2)" style="height: 40px; cursor: pointer;"
                    src="assets/img/closeToogle.png" alt="">
                <img *ngIf="toogle == 2" (click)="toogleClick(1)" style="height: 40px; cursor: pointer;"
                    src="assets/img/openToogle.png" alt=""> -->

                <label class="switch mt-2">
                    <input type="checkbox" (change)="checkCheckBoxvalue($event)">
                    <span class="slider round"></span>
                </label>
            </div>
            <h6 class="m-2">Yearly</h6>
        </div>


        <div class="planCards">
            <div>

                <div class="whiteDiv card1 mx-2">
                    <div class="text-center">
                        <h4>Beginner</h4>
                        <p>Best plan for startup</p>
                        <div class="d-flex my-2">
                            <div class="errow mr-1">
                                Disc. 75%
                            </div>

                            <div class="mt-1"> <del>₹ 199/Month</del></div>
                        </div>

                        <div>₹ 49/Month</div>

                    </div>

                    <div class="my-2">
                        <button class="continue">Continue</button>
                    </div>

                    <div class="mt-4">
                        <p>Single Domain</p>
                        <p>20 GB SSD Disk Space</p>
                        <p>100 GB Transfer</p>
                        <p>5 Email Account(s)</p>
                        <p>Unlimited Databases*</p>
                        <p>Free Let’s Encrypt SSL </p>
                        <p>Free Backup</p>
                        <p>Litespeed server</p>
                        <p>7 day Money Back Guarantee</p>
                    </div>

                </div>
            </div>

            <div>
                <div class="head mt-1 mx-2">Most Popular</div>
                <div class="whiteDiv  mx-2">
                    <div class="text-center">
                        <h4>Enterprises</h4>
                        <p>Best plan for startup</p>
                        <div class="d-flex my-1">
                            <div class="errow mr-1">
                                Disc. 42%
                            </div>
                            <div class="mt-1"> <del>₹499/Month</del></div>
                        </div>

                        <div>₹199/Month</div>

                    </div>

                    <div class="my-2">
                        <button class="continue">Continue</button>
                    </div>

                    <div class="mt-4">
                        <p>Unlimited Domain</p>
                        <p>Unmetered SSD Disk Space</p>
                        <p>Unmetered Transfer</p>
                        <p>Unlimited Email Account(s)</p>
                        <p>Unlimited Databases*</p>
                        <p>Free Let’s Encrypt SSL </p>
                        <p>Free Backup</p>
                        <p>Litespeed server</p>
                        <p>7 day Money Back Guarantee</p>
                    </div>

                </div>
            </div>



            <div>
                <div class="whiteDiv card1 mx-2">
                    <div class="text-center">
                        <h4>Intermediate</h4>
                        <p>Best plan for startup</p>
                        <div class="d-flex my-2">
                            <div class="errow mr-1">
                                Disc. 62%
                            </div>
                            <div class="mt-1"> <del>₹299/Month</del></div>
                        </div>

                        <div>₹99/Month</div>

                    </div>

                    <div class="my-2">
                        <button class="continue">Continue</button>
                    </div>

                    <div class="mt-4">
                        <p>Single Domain</p>
                        <p>100 GB SSD Disk Space</p>
                        <p>Unmetered Transfer</p>
                        <p>10 Email Account(s)</p>
                        <p>Unlimited Databases*</p>
                        <p>Free Let’s Encrypt SSL </p>
                        <p>Free Backup</p>
                        <p>Litespeed server</p>
                        <p>7 day Money Back Guarantee</p>
                    </div>

                </div>
            </div>

        </div>


    </div>

    <section class="mb-5">

        <div class="container mt-5">

            <div class="customerDIv">
                <div>
                    <div class="text1">
                        <h3>We have served</h3>
                    </div>
                    <div class="text1"><b>500 + </b></div>
                    <p>Total customer</p>

                    <div class="text1"><b>50 + </b></div>
                    <p>Hosting managed</p>

                    <div class="text1"><b>100% </b></div>
                    <p>Customer satisfaction</p>
                </div>

                <div>
                    <div>
                        <h3>What do they say ?</h3>
                    </div>
                    
                    <div class="messageDiv ">
                        <p>“ Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry’s standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen book.’’</p>
                        <div class="float-end "><b>- Sandy (Digiqal)</b></div>
                    </div>

                </div>
            </div>

        </div>




        <div>

            <div class="text-center">
                <h3>Our technology</h3>
            </div>

            <div class="d-flex justify-content-center mt-4" style="flex-wrap: wrap;">

                <div class="imgbox" *ngFor="let img of osImages">
                    <img height="50" src="{{img}}" alt="">
                </div>

            </div>

        </div>


        <div style="position: relative; " class="">
            <img style="    position: absolute;
               top: 10px;
    left: -37px;
    width: 315px;" src="assets/img/Component1.png" alt="">

        </div>

        <div class="m-5 p-5"></div>


        <div class="mt-5">

            <div class="text-center mt-5">
                <h2>FAQs</h2>
            </div>

            <div class="div ">
                <ngb-accordion class="col-sm-8 m-2" *ngFor="let item of faq" #acc="ngbAccordion" [destroyOnHide]='false'
                    [closeOthers]="true" activeIds="ngb-panel-0">
                    <ngb-panel id="static-1" title="Simple">
                        <ng-template ngbPanelContent>
                            {{item}}
                        </ng-template>
                    </ngb-panel>

                </ngb-accordion>
            </div>


        </div>




    </section>




</div>